<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gharra | {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css' %}">
      <script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'assets/vendors/chartjs/Chart.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
      <style type="text/css">
        .notif:hover{
          background-color: rgba(0,0,0,0.1);
                  }
      </style>
   </head>
   <body>

    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
    <div class="sidebar-header" style="height: 50px;margin-top: -30px">
                      <i class="fa fa-users text-success me-4"></i>
                        <span>ELMS</span>
                </div>
               <div class="sidebar-menu">
                  <ul class="menu">
                        <li class="sidebar-item {{dashboard_status}} ">
                        <a href="{% url 'employer/dashboard' %}" class='sidebar-link'>
                        <i class="fa fa-home text-success"></i>
                        <span>Dashboard</span>
                        </a>
                     </li>
                     <li class="sidebar-item {{dept_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-building text-success"></i>
                        <span>Department</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'add_department' %}">Add Department</a>
                           </li>
                           <li>
                              <a href="{% url 'manage_department' %}">Manage Department</a>
                           </li>
                        </ul>
                     </li>
                     <li class="sidebar-item {{design_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Designation</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'add_designation' %}">Add Designation</a>
                           </li>
                           <li>
                              <a href="{% url 'manage_designation' %}">Manage Designation</a>
                           </li>
                        </ul>
                     </li>

                     <li class="sidebar-item {{user_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-user text-success"></i>
                        <span>Users</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'add_user' %}">Add User</a>
                           </li>
                           <li>
                              <a href="{% url 'manage_user' %}">Manage Users</a>
                           </li>
                        </ul>
                     </li>
                     
                     <li class="sidebar-item {{emp_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-users text-success"></i>
                        <span>Employees</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'add_employee' %}">Add Employee</a>
                           </li>
                           <li>
                              <a href="{% url 'manage_employee' %}">Manage Employee</a>
                           </li>
                        </ul>
                     </li>
                     <li class="sidebar-item {{leave_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Leave Type</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'add_leave_type' %}">Add Leave Type</a>
                           </li>
                           <li>
                              <a href="{% url 'manage_leave_type' %}">Manage Leave Type</a>
                           </li>
                        </ul>
                     </li>

                     <li class="sidebar-item {{leavem_status}} has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Leave Management</span>
                        </a>
                        <ul class="submenu ">
                           <li>
                              <a href="{% url 'all_leave' %}">All Leaves</a>
                           </li>
                           <li>
                              <a href="{% url  'pending_leave' %}">Pending Leaves</a>
                           </li>
                           <li>
                              <a href="{% url 'approve_leave' %}">Approve Leaves</a>
                           </li>
                           <li>
                              <a href="{% url 'not_approve_leave' %}">Not Approve Leaves</a>
                           </li>
                        </ul>
                     </li>

                     <li class="sidebar-item {{reports_status}} ">
                        <a href="{% url 'reports' %}" class='sidebar-link'>
                        <i class="fa fa-chart-bar text-success"></i>
                        <span>Reports</span>
                        </a>
                     </li>
                  </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>

        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                      <li class="dropdown nav-icon">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="bell"></i><span class="badge bg-info">{{total_notifi}}</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                                <h6 class='py-2 px-4'>Notifications</h6>
                                <ul class="list-group rounded-none">
                                    <li class="list-group-item border-0 align-items-start">
                                    <div class="row mb-2">

                                       {% for notification in notifications %}
                                    <div class="col-md-12 notif">
                                            <a href="{% url 'leave_details' notification.id %}"><h6 class='text-bold'>{{notification.employee.first_name}}&nbsp;{{notification.employee.last_name}}</h6>
                                            <p class='text-xs'>
                                                applied for leave at {{notification.posting_date}}
                                            </p></a>
                                    </div>
                                    {% endfor %}

                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                     <li class="dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                           {% if profile %}
                           <div class="avatar me-1">
                              <img src="{{profile.url}}" alt="" srcset="">
                           </div>
                           {% endif %}
                           {% if request.user.is_authenticated %}
                           <div class="d-none d-md-block d-lg-inline-block">Hi, {{request.user.full_name}}</div>
                           {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                           <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                           <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="{% url 'logout' %}"><i data-feather="log-out"></i> Logout</a>
                        </div>
                     </li>
                  </ul>
                </div>
            </nav>
        {% block content %}

        {% endblock %}




    <script src="{% static 'assets/js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/js/vendors.js' %}"></script>
 </body>
</html>